{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}

    {% if user.is_authenticated %}
    <h2> Welcome {{user.username}}</h2>   
    {% else %}
    <form  method="POST" action="{% url 'login' %}"> 
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{field.label_tag}}
            {{field}}
        {% endfor %}
        </div>
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endif %}

{% endblock %}